@model IEnumerable<User>

@{
    ViewData["Title"] = "Blacklist";
}

@section Styles {
<link rel="stylesheet" href="~/css/blacklist.css" />
}

@if (Model.Count() == 0)
{
    <div class='header-empty'>
        <h1>No blacklist.</h1>
    </div>
}
else
{
    <h1 class="title">User Blacklist Details</h1>
    <div class="scroll-table">
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>User ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    int index = 0;
                    @foreach (User user in Model)
                    {
                        index++;
                        <tr>
                            <td>@index</td>
                            <td>@user.Id.ToString("D8")</td>
                            <td><img src='@Url.Content(user.ImageUrl != "" ? user.ImageUrl : "~/assets/images/brand.jpg")'
                            alt="user_image" /> @($"{user.FirstName} {user.LastName}")</td>
                            <td>@user.Email</td>
                            @if (user.Phone.Length == 10)
                            {
                                <td>@($"{Convert.ToInt64(user.Phone):000-000-0000}")</td>
                            }
                            else
                            {
                                <td>@($"{Convert.ToInt64(user.Phone):000-000-000}")</td>
                            }
                            <td>
                                <div class="icon"><a asp-controller="Search" asp-action="UserProfile" asp-route-Id="@user.Id"><i
                                    class="fas fa-eye view-button" onmouseover="setOverPositionView(event);"></i></a><span class="tooltip">View</span></div>
                                <div class="icon"><i class="fas fa-times-circle cancel-button"
                                onclick="confirmPopUpOnForm({id : '@user.Id'});" onmouseover="setOverPosition(event);"></i><span class="tooltip">Unblacklist</span>
                                </div>
                            </td>
                        </tr>
                    }
                    if (Model.Count() == 10)
                    {
                        <tr class="bottom">
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}

@section Modals {
<p style="font-size: 24px;">Would you like to unblacklist this user ?</p>
}

@section Scripts {
<script src="~/js/blacklist.js"></script>
}