@using Microsoft.AspNetCore.Http

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SlothFlyingWeb</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/assets/fonts/fontawesome/css/all.css">
    </environment>
    <environment names="Production">
        <link rel="stylesheet" href="~/assets/fonts/fontawesome/css/all.min.css">
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/navigation.css" />
    <link rel="stylesheet" href="~/css/confirm_popup.css" />
    @RenderSection("Styles", required: false)
</head>

<body>
    <div class="filter"></div>
    @{
        string controller = ViewContext.RouteData.Values["Controller"].ToString();
        string action = ViewContext.RouteData.Values["Action"].ToString();
        // user navigation bar
        if (("User" == controller || "Lab" == controller) && SessionExtensions.GetInt32(Context.Session, "Id") != null)
        {
            <header>
                <partial name="~/Views/Shared/_NavigationUser.cshtml" />
            </header>
        }

        if (("Search" == controller || "LabAdmin" == controller) && SessionExtensions.GetInt32(Context.Session, "AdminId") !=
        null)
        {
            <header>
                <partial name="~/Views/Shared/_NavigationAdmin.cshtml" />
            </header>
        }
    }
    <main role="main">
        @RenderBody()
    </main>
    @switch ($"{controller}/{action}")
    {
        // if will use Modal Confirm put pathname in case
        case "User/Booklist":
        case "Lab/Booking":
        case "Search/UserBooklist":
            <div class="modal-off" id="modal">
                <form method="POST" class="card">
                    @RenderSection("Modals", required : false)
                    <div class="button-field">
                        <button type="submit" class="submit" id="submit">OK</button>
                        <button type="button" class="cancel" onclick="confirmPopUpOff();" id="cancel">
                            Cancel
                        </button>
                    </div>
                    <div id="input-section" style="display: none;"></div>
                </form>
            </div>
            break;
        default: break;
    }
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
