@using Microsoft.AspNetCore.Http

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SlothFlyingWeb</title>
    <link rel="stylesheet" href="~/assets/fonts/fontawesome/css/all.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/navigation.css" />
    @RenderSection("Styles", required: false)
</head>

<body>
    @{
        string controller = ViewContext.RouteData.Values["Controller"].ToString().ToLower();
        string action = ViewContext.RouteData.Values["Action"].ToString().ToLower();
    }
    @if (("user" == controller || "lab" == controller) && SessionExtensions.GetInt32(Context.Session, "Id") != null)
    {
        <header>
            <nav class="navbar">
                <div class="brand">
                    <img src="~/assets/images/brand.jpg" alt="logo" class="brand-img" />
                    <div class="brand-text">Sloth Flying Lab</div>
                </div>
                <div class="menu">
                    <a id="lab" asp-controller="Lab" asp-action="Index" class='@("lab" == controller ? "active" : "")'>Lab</a>
                    <a id="booklist" asp-controller="User" asp-action="Booklist"
                        class='@("booklist" == action ? "active" : "")'>Booklist</a>
                    <a id="profile" asp-controller="User" asp-action="Profile" class='@("profile" == action ||
                        "editprofile" == action ? "active" : "")'>Profile</a>
                    <a id="logout" asp-controller="User" asp-action="Logout" class="logout">Logout</a>
                </div>
            </nav>
        </header>
    }
    <main role="main">
        @RenderBody()
    </main>
    @RenderSection("Scripts", required: false)
</body>

</html>
