@model IEnumerable<BookList>

@section Styles {
<link rel="stylesheet" href="~/css/booklist.css" />
}

@{
  ViewData["Title"] = "Booklist";
}

<table>
  <thead>
    <tr>
      <th>Lab</th>
      <th>Date</th>
      <th>From</th>
      <th>To</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (BookList bookList in Model)
    {
      <tr>
        <td>Lab @bookList.LabId @bookList.ItemName</td>
        <td>@bookList.Date.ToString("ddd dd MMM yyyy")</td>
        <td>@(bookList.From.ToString("D2")).00</td>
        <td>@(bookList.To.ToString("D2")).00</td>
        <td class="status">
          @switch (bookList.Status)
          {
            case BookList.StatusType.USING:
              <span class="using">Using</span>
              break;
            case BookList.StatusType.COMING:
              <span class="coming">Coming</span>
              break;
            case BookList.StatusType.FINISHED:
              <span>Finished</span>
              break;
            case BookList.StatusType.CANCLE:
              <span>Cancel</span>
              break;
            case BookList.StatusType.EJECT:
              <span>Eject</span>
              break;
            default: break;
          }
        </td>
        @if (bookList.Status == BookList.StatusType.USING || bookList.Status == BookList.StatusType.COMING)
        {
          <td class="icon"><i class="fas fa-times-circle" onclick="confirmPopUpOn();"></i></td>
        }
        else
        {
          <td></td>
        }
      </tr>
    }
  </tbody>
</table>

@section Scripts {
<script src="~/js/booklist.js"></script>
}