@model SlothFlyingWeb.Models.User

@{
    ViewData["Title"] = "User Profile";
}

@section Styles {
<link rel="stylesheet" href="~/css/user_profile.css" />
}

<div class="head">
    <a class="active" id="profile_nav" asp-controller="Search" asp-action="UserProfile"
        asp-route-Id="@ViewBag.UserId"><i class="fas fa-id-card"></i><span>Profile</span></a>
    <a class="click" id="booklist_nav" asp-controller="Search" asp-action="UserBooklist"
        asp-route-Id="@ViewBag.UserId"><i class="fas fa-list-alt"></i><span>Booklist</span></a>
</div>
<div class="container">
    <div class="image">
        <img src='@Url.Content(Model.ImageUrl != "" ? Model.ImageUrl : "~/assets/images/brand.jpg")' alt="user_image" />
    </div>
    <div class="information">
        <div class="title">Name</div>
        <div id="fullname">@($"{Model.FirstName} {Model.LastName}")</div>
        <div class="title">Email</div>
        <div id="email">@Model.Email</div>
        <div class="title">Phone</div>
        @if (Model.Phone.Length == 10)
        {
            <div id="phone">@($"{Convert.ToInt64(Model.Phone):000-000-0000}")</div>
        }
        else
        {
            <div id="phone">@($"{Convert.ToInt64(Model.Phone):000-000-000}")</div>
        }
        <div class="title">User ID</div>
        <div id="id">@Model.Id.ToString("D8")</div>
        <div class="title">Joined</div>
        <div id="CreateAt">@Model.CreateAt.ToString("dd MMM yyyy")</div>
        <div class="title">Status</div>
        <div id="Status" class=@(Model.BlackList ? "blacklisted" : "normal")>@(Model.BlackList ? "BLACKLISTED" :
            "NORMAL")</div>
    </div>
    @if (Model.BlackList)
    {
        <button type="button" id="unblacklist"
        onclick="confirmPopUpOnForm({id : '@Model.Id', blacklist : 'false'});">Unblacklist</button>
    }
    else
    {
        <button type="button" id="blacklist"
        onclick="confirmPopUpOnForm({id : '@Model.Id', blacklist : 'true'});">Blacklist</button>
    }
</div>

@section Modals {
<p>Would you like to @(Model.BlackList ? "unblacklist" : "blacklist") <span
        style="color: var(--blue);">@($"{Model.FirstName} {Model.LastName}")</span> ?</p>
}