@model SlothFlyingWeb.Models.DinoLab

@{
    ViewData["Title"] = "DinoLab Table Page";
}

@section Styles{
<link rel="stylesheet" href="~/css/booking.css">
}

<div class="container">
    <div class="title">
        <h1>@(Model.name) Laboratory</h1>
        <h2>จำนวนอุปกรณ์ที่ว่างในแต่ละวัน</h2>
    </div>
    <div class="book-table">
        <table>
            <tr>
                <th>Time \ Date</th>
                @{
                    DateTime startDate = ViewBag.startDate;
                    int row = Model.bookTable.Length > 0 ? Model.bookTable[0].Length : 0;
                    int col = Model.bookTable.Length;
                    for (int c = 0; c < col; c++)
                    {
                        DateTime date = startDate.AddDays(c);
                        <th>
                            @date.ToString("ddd")<br>
                            @date.ToString("dd")<br>
                            @date.ToString("MMM")
                        </th>
                    }
                }
            </tr>
            @for (int r = 0; r < row; r++)
            {
                <tr>
                    <th>@($"{(r+9).ToString("D2")}.00 - {(r+10).ToString("D2")}.00")</th>
                    @for (int c = 0; c < col; c++)
                    {
                        if (c == 0 && r + 9 < BangkokDateTime.now().Hour)
                        {
                            <td class="late">@Model.bookTable[c][r]</td>
                        }
                        else
                        {
                            <td>@Model.bookTable[c][r]</td>
                        }
                    }
                </tr>
            }
        </table>
    </div>
</div>