@model SlothFlyingWeb.Models.Lab

@{
    ViewData["Title"] = "View Items";
}

@section Styles{
<link rel="stylesheet" href="~/css/view_item.css">
}

<div class="container">
    <div class="title">
        <h1>Laboratory @(Model.Id)</h1>
        <h2>แสดงจำนวนอุปกรณ์ที่ว่างในแต่ละวัน</h2>
    </div>
    <div class="book-table">
        <table>
            <tr>
                <th>Time \ Date</th>
                @{
                    DateTime startDate = ViewBag.startDate;
                    for (int c = 0; c < 14; c++)
                    {
                        DateTime date = startDate.AddDays(c);
                        <th
                        class='@(date.DayOfWeek == DayOfWeek.Saturday || date.DayOfWeek == DayOfWeek.Sunday ? "lab-close" : "")'>
                            @date.ToString("ddd")<br>
                            @date.ToString("dd")<br>
                            @date.ToString("MMM")
                        </th>
                    }
                }
            </tr>
            @for (int r = 0; r < 9; r++)
            {
                <tr>
                    <th>@($"{(r+8).ToString("D2")}.00 - {(r+9).ToString("D2")}.00")</th>
                    @for (int c = 0; c < 14; c++)
                    {
                        DateTime date = startDate.AddDays(c);
                        if (date.DayOfWeek == DayOfWeek.Saturday || date.DayOfWeek == DayOfWeek.Sunday)
                        {
                            <td class="not-enable" id='@($"slot{r}_{c}")'></td>
                        }
                        else if (c == 0 && r + 8 < BangkokDateTime.now().Hour)
                        {
                            <td class="late" id='@($"slot{r}_{c}")' onclick="showResult(event);">
                                @Model.BookSlotTable[r,c]</td>
                        }
                        else
                        {
                            <td class='@(Model.BookSlotTable[r,c] <= 0 ? "full" : "")' id='@($"slot{r}_{c}")'
                    onclick="showResult(event);">
                                @Model.BookSlotTable[r,c]</td>
                        }
                    }
                </tr>
            }
        </table>
    </div>
    <div class="booklist-table"></div>
    <input type="text" id="startDateString" name="startDateString"
        value="@(new DateTimeOffset(startDate).ToUnixTimeMilliseconds())" hidden />
    <input type="number" id="LabId" name="LabId" value="@Model.Id" hidden />
</div>

@section Modals {
<p style="font-size: 24px;">Would you like to eject this booklist ?</p>
}

@section Scripts {
<script src="~/js/view_item.js"></script>
}